---
import Layout from "../layouts/Layout.astro";
import { ChatInput, Sidebar } from "../components";
---

<Layout title="IA - Saas">
  <main class="flex">
    <Sidebar />
    <div class="flex-1">
      <h1 class="text-2xl font-bold text-slate-50">Chat</h1>
      <div>
        <h2>Messages</h2>
      </div>
        <ChatInput client:load/>
    </div>
  </main>
</Layout>
